body {
  background-color: #f4f4f4;
  color: #030303;
  font-family: sans-serif;
  margin: 0.5em;

  aside {
    position: fixed;
    right: 1em;
    text-align: right;
    top: 0;
    width: 100%;
  }

  footer {
    text-align: center;
  }

  img {
    display: inline-block;
    float: left;
  }

  nav {
    float: left;
    height: 100%;
    margin: 0 1% 0 0;
    user-select: none;
    max-width: 20%;

    h1 {
      font-size: 2em;
      margin: 0;
      text-align: center;
    }

    li {
      cursor: pointer;
    }

    ul {
      font-size: 1.5em;
      list-style: none;

      ul{
        font-size: 0.9em;
        padding: 0 1em;
      }
    }

    .collapsed ul {
      display: none;
    }
  }

  section.gallery {

  }

  section.description {
    float: left;
    margin: 0.5em;
    width: 30%;
  }

  section.text {
    float: left;
    margin: 1%;
    width: 75%;
  }

  table.contactDetails {
    td {
      padding-right: 0.5em;
    }
  }

  #mutableContent {
    .gallery {
      width: 1000em;
    }
    .thumb {
      max-height: 80vh;
    }
  }
}
