body {
  background-color: #f3f3f3;
  color: #040404;
  font-family: sans-serif;
  margin: 0;

  div.modalWindow {
    background-color: #000;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;

    div.clickArea {
      cursor: pointer;
      height: 100%;
      position: fixed;
      top: 0;
      width: 100%;
    }

    img {
      bottom: 0;
      display: block;
      left: 0;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
      position: fixed;
      right: 0;
      top: 0;
    }
  }

  img {
    cursor: pointer;
    user-select: none;
  }

  nav {
    float: left;
    height: 100%;
    margin: 0 1%;
    user-select: none;
    text-overflow: ellipsis;

    h1 {
      cursor: pointer;
      hyphens: auto;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 0 0 0 1em;

      li {
        cursor: pointer;
      }

      ul{
        font-size: 0.9em;
      }
    }

    .collapsed ul {
      display: none;
    }
  }

  #mutableContent {
    $imageHeight: 80vh;
    $topBottomMargin: (100vh - 3vh - $imageHeight) / 2;

    section.description {
      float: left;
      margin: $topBottomMargin 0.5em;
      width: 30%;

      h2 {
        margin-top: 0;
      }
    }

    section.gallery {
      aside {
        float: left;
        margin: 0.5em;
        text-align: center;
      }

      div.images {
        margin-right: -9999em;
        white-space: nowrap;

        img.thumb {
          display: inline-block;
          float: left;
          margin: $topBottomMargin 1em;
          height: $imageHeight;
        }
      }
    }

    section.text {
      float: left;
      margin: 1%;
      width: 75%;
    }

    table.contactDetails {
      td {
        padding-right: 0.5em;
      }
    }
  }
}
