nav {
  float: left;
  font-size: 1.1em;
  min-height: 90vh;
  padding: 0 2em 0 0.5em;
  user-select: none;
}

nav div.home {
  padding-top: 1em;
}

nav div.home h1 {
  cursor: pointer;
  hyphens: auto;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0 0 0 0.5em;
}

nav ul li {
  cursor: pointer;
  margin: 0;
  padding: 1em 0 0 0;
}

nav ul li div {
  height: 100%;
  padding: 1em 0 0 0;
  width: 100%;
}

nav ul li.collapsed, nav ul li.expanded {
  padding: 0;
}

ul {
  font-size: 0.9em;
}

nav .collapsed ul {
  display: none;
}
